header{
    background-color: var(--color-primary);
    height: 60px;
    display: flex;
    align-items: center;
}

.app-ds-movies-nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

}

.app-ds-movies-nav-content h1 {
    margin: 0;
    font-weight: 700;
    font-size: 24px;

}

.app-ds-movies-contactor-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.app-ds-movies-contact-link{
   margin: 0 0 0 10px; 
   font-size: 12px;
}
